* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

canvas#game {
  border: 1px solid #000000;
}

@media screen and (width < 1200px) {
  canvas#game {
    width: 1000px;
    height: 1000px;
  }
}

@media screen and (width < 1000px) {
  canvas#game {
    width: 800px;
    height: 800px;
  }
}

@media screen and (width < 800px) {
  canvas#game {
    width: 500px;
    height: 500px;
  }
}

@media screen and (width < 400px) {
  canvas#game {
    width: 200px;
    height: 200px;
  }
}
